<template name="financesMilestones">
<table class="table">
    <tr>
        <th>Employer</th>
        <th>Project Name</th>
        <th>Amount</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
        {{#each milestones}}
    <tr>
        <td>
            {{username}}
        </td>
        <td>
            <a href='/project/{{project._id}}'>{{project.title}}</a>
        </td>        
        <td>
            {{price}} 
        </td>        
        <td>
            {{title}} 
        </td>        
        <td>
            {{status}} 
        </td>
        <td>
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if isBoss}}
            <a class='releaseJs dropdown-item'>Release Milestone</a>
            <a class='createJs dropdown-item'>Create Milestone</a>
            {{#if requested}}
            <a class='cancelJs dropdown-item'>Cancel Milestone</a>
            {{/if}}
    {{else}}
            <a class='releaseRequestJs dropdown-item'>Request Milestone</a>
            {{#unless released}}
            <a class='cancelJs dropdown-item'>Cancel Milestone</a>
            {{/unless}}
    {{/if}}
  </div>
</div>
            
        </td>
    </tr>
    {{else}}
    empty/loading
    {{/each}}
</table>

</template>
