<template name="financesMilestones">
    action: cancel/dispute
<table class="table">
    <tr>
        <th>Employer</th>
        <th>Project Name</th>
        <th>Amount</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
        {{#each milestones}}
    <tr>
        <td>
            {{username}}
        </td>
        <td>
            <a href='/project/{{project._id}}'>{{project.title}}</a>
        </td>        
        <td>
            {{price}} 
        </td>        
        <td>
            {{title}} 
        </td>        
        <td>
            {{status}} 
        </td>
    </tr>
    {{else}}
    empty/loading
    {{/each}}
</table>

</template>

